.scroll-tracker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-color: rgb(51, 255, 0);
    z-index: 10000;
    border: none;
    transform-origin: left;
  }